@import 'utils';

.App {
  margin: auto;
  text-align: center;

  @include media('<huge') {
    width: 425px;
  }

  @include media('<large') {
    width: 425px;
  }

  @include media('<medium') {
    width: 90%;
  }

  &-logo {
    height: 40px;
    position: center;
  }

  &-header {
    margin: auto;
    width: 92%;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 120px;
    border-bottom: 3px solid $oc-indigo-7;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }

  .now-loading {
    color: $oc-indigo-7;
    font-weight: bold;
    font-size: 3em;
  }

  .btc-ticker-section {
    margin-bottom: 12px;
    p {
      margin: 0;

      &.btc-ticker-price {
        color: $oc-indigo-7;
        font-weight: bold;
        font-size: 3em;
      }

      &.btc-ticker-currency {
        margin-bottom: 12px;

        font-size: 0.8em;
      }
    }
  }

  .order-wrapper {
    width: 92%;
    margin: auto;

    .buy-sell-flag {
      width: 100%;

      margin-bottom: 12px;

      button {
        width: 49%;
        padding: 4px 0;
        font-size: 1.2em;
        font-weight: 500;

        background-color: #ffffff80;
        border: 1px solid $oc-indigo-7;
        border-radius: 2px;

        &.current-type {
          background-color: $oc-indigo-7;
          color: $oc-gray-0;
        }

        &:first-child {
          margin-right: 1%;
        }

        &:nth-child(2) {
          margin-left: 1%;
        }
      }
    }
  }
}
